h1 {
  font-family: 'FantasqueSansMonoRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: whitesmoke;
  text-align: center;}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url(milky.png);
}
#content {
  overflow: auto;}
#nav, #feature, #footer {
  margin: 1%;}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}
.column3 {
  margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
#nav, #footer {
  background-image: url(leather.png);
  padding: 0.5em 0;}
#feature, .article {
  height: 10em;
  margin-bottom: 1em;
  background-image: url(leather.png);}
img { 
  height: 115px;
  width:300px ;
}
